<div class="modal fade" id="test_modal">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3>Équivalences de Poids et Mesures</h3>
    </div>
    <div class="modal-body">
             
                <table class="table table-striped">
                    <tr>
                        <th>Litre (l.)</th>
                        <th>Centilitre (cl.)</th>
                        <th>Décilitre (dl.)</th>
                        <th>Gramme (g.)</th>
                    </tr>
                    <tr>
                         <td>1 litre</td>
                         <td>100 cl.</td>
                         <td>10 dl.</td>
                         <td>1000g. (Eau)</td>
                     </tr>
                     <tr>
                        <td>1/2 litre</td>
                        <td>50 cl.</td>
                        <td>5 dl.</td>
                        <td>500 g. (Eau)</td>
                    </tr>
                    <tr>
                        <td>1/4 litre </td>  <td>25 cl.</td>  <td>2,5 dl. </td>    <td>250 g. (Eau)</td>
                    </tr>
                    <tr>
                        <td>1/8 litre </td>  <td>12,5 cl.</td> <td>1,25 dl.</td>   <td>125 g. (Eau)</td>
                    </tr>
                </table>
            </br>

            <table class="table table-striped"><tbody><tr>
                <th>Contenants</th>
                <th>Grammages</th>
                </tr>
                    <tr class="l1"><td>1 grand bol</td>
                    <td>350 grammes</td></tr>
                    <tr class="l2"><td>1 assiette à soupe</td>
                    <td>de 250 à 300 grammes</td></tr>
                    <tr class="l1"><td>1 tasse à petit-déjeuner</td>
                    <td>de 200 à 250 grammes</td></tr>
                    <tr class="l2"><td>1 tasse à thé</td>
                    <td>de 120 à 150 grammes</td></tr>
                    <tr class="l1"><td>1 tasse à café</td>
                    <td>100 grammes</td></tr>
                    <tr class="l2"><td>1 verre à eau</td>
                    <td>de 200 à 225 grammes</td></tr>
                    <tr class="l1"><td>1 verre à vin</td>
                    <td>de 90 à 100 grammes</td></tr>
                    <tr class="l2"><td>1 cuillère à soupe</td>
                    <td>15 grammes</td></tr>
                    <tr class="l1"><td>1 cuillère à entremet</td>
                    <td>10 grammes</td></tr>
                    <tr class="l2"><td>1 cuillère à café</td>
                    <td>5 grammes</td></tr>
                    <tr class="l1"><td>1 verre à liqueur</td>
                    <td>30 grammes</td></tr></tbody>
                </table>
                <br>

             
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Fermer</a>  
    </div>
</div>