


<h1>Les réponses aux questions les plus fréquentes</h1>


<div class='row'>
      <div class="span10 well">

<h4>Les informations du dashboard semblent fausses</h4>
	<p><blockquote>Verifier que vos infos de profil sont justes</blockquote></p>

<h4>Pourquoi mon poids affiche 0 ?</h4>
	<p><blockquote>Vous n'avez sans doute pas encore ajouter une pesée</blockquote></p>
</div>

</div>