


<h1>Les réponses aux questions les plus fréquentes</h1>


<div class='row'>
      <div class="span10 well">

<h2>Les informations du dashboard semblent fausses</h2>
	- Verifier que vos infos de profil sont justes

<h2>Pourquoi mon poids affiche 0 ?</h2>
	- Vous n'avez sans doute pas encore ajouter une pesée
</div>

</div>