
<div class="container clearfix">
<footer class="footer">
  <hr class="footer-divider">
  <small>
    <a href="http://railstutorial.org/">Special thanks to Rails Tutorial</a>
    by Michael Hartl
  </small>
</footer>
</div>